.graph-description {
    color: white;
  }
  
.graph-one {
  padding:20px; 
  margin: 20px;
}

div.toolTip {
  position: absolute;
  text-align: center;
  width: 75px;
  height: 35px;
  padding: 2px;
  font: 12px sans-serif;
  background: rgb(211, 207, 207);
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}